{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Persons
{% endblock %}

{% block body %}
<h1 class="mt-5"> Persons</h1>
<a type="button" href="{{ path('person_add') }}" class="btn btn-light">Ajouter une personne </a>

<div class="list-group mt-5">
    {% for person in persons %}
    <a href="{{ path('person_view', {'id': person.id}) }}" class="list-group-item list-group-item-action">
        {{ person.name }}
    </a>
    {% endfor %}
</div>
{% endblock %}